.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Revolt.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

.sentryclirc
build/
